/* Estilos generales */
body {
  font-family: 'Lato';
}

.btn-group-custom .btn {
  width: 30%;
}

.btn-cycle {
  transition: background-color 0.3s ease;
}

.table-container {
  height: calc(100vh - 200px);
  /* Extiende la altura de la tabla */
  overflow-y: auto;
  width: 100%;
}

.month-separator {
  font-weight: bold;
  background-color: #f8f9fa;
  padding: 0.5rem;
  border-bottom: 1px solid #dee2e6;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #dee2e6;
  padding: 10px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.balance-positive {
  color: #28a745;
  /* Verde */
}

.balance-negative {
  color: #dc3545;
  /* Rojo */
}

.egreso {
  background-color: #f8d7da !important;
  align-content: baseline;
  /* Rosado */
}

.ingreso {
  background-color: #d4edda !important;
  align-content: baseline;
  /* Verde claro */
}

.factura {
  background-color: lightgray !important;
  align-content: baseline;
  /* Verde claro */
}

.pago {
  background-color: lightsteelblue !important;
  align-content: baseline;
  /* Verde claro */
}

.datepicker {
  display: block;
}

/* Elimina el borde y el marco del botón de cierre */
.close {
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
}

/* Asegúrate de que el botón de cierre sea visible */
.close span {
  font-size: 1.5rem;
  /* Ajusta el tamaño del icono si es necesario */
}

/* Elimina el borde y el marco del botón de la hamburguesa */
.navbar-toggler {
  border: none;
  box-shadow: none;
  background: transparent;
}

/* Asegura que los elementos del menú tengan márgenes adecuados */
.navbar-nav .nav-item {
  margin: 0 1rem;
  /* Ajusta el margen como necesites */
}

/* Opcional: ajusta el padding dentro de los elementos del menú */
.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
}


@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 100%;
  }
}

.navbar {
  --bs-navbar-padding-y: 0.2rem;
}

/*alinear a la derecha*/
.align-right {
  text-align: end;
}